.contact {
    padding: 70px 0;
    font-family: $font-stack;

    .form-control {

        border: none;
        border-bottom: 2px solid #f0f0f0;
        border-radius: 0;
        box-shadow: none;
        padding: 6px 12px;

        &:focus {
            border-bottom-color: #999999;
        }
    }
}