$primary-color: #7682cc;

$font-stack: 'Poppins',sans-serif;

  h1 {
      font-size: 45px;
      line-height: normal;
      font-weight: bold;
      letter-spacing: 0;

  }

 h2 {
     color: #2b2b2b;
     font-size: 35px;
     line-height: 52px;

 }

 p {
     color: #878787;
     font-size: 16px;
     font-weight: normal;
     line-height: 25px;
     letter-spacing: 0.2px;
 }


@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

@import 'scss/hero';
@import 'scss/button';
@import 'scss/service';
@import 'scss/about';
@import 'scss/design';
@import 'scss/contact';
@import 'scss/footer';

